<div class="card-container">
    <img src="../../assets/images/icons/BackgroundRock.png">
    <div class="card-header">
        <div class="card-element">
            <img src="../../assets/images/icons/RockSymbol.png">
        </div>
        <div class="card-rarity">
            <img src="../../assets/images/icons/CommonSymbol.png">
        </div>
        <div class="card-name">
            Boulder Toss
        </div>
        <div class="card-cost">
            2 <img src="../../../assets/images/icons/RockSymbol.png">
        </div>
    </div>
    <div class="card-image">
        <img src="../../../assets/images/spells/BoulderToss.png">
    </div>
    <div class="card-attributes">
        <div class="card-class">
            Spell
        </div>
        <div class="card-perks">
            Cast
        </div>
    </div>
    <div class="card-body">
        Deal 60 damage (Deal 
        double damage if target is a flying creature). 
    </div>
    <div class="card-footer">
        <div class="card-attack">
        </div>
        <div class="card-attack-stat">
            
        </div>
        <div class="card-health-stat">
            
        </div>
        <div class="card-health">
        </div>
    </div>
</div>
