<div class="card-container">
    <img src="../../assets/images/icons/BackgroundRock.png">
    <div class="card-header">
        <div class="card-element">
            <img src="../../assets/images/icons/RockSymbol.png">
        </div>
        <div class="card-rarity">
            <img src="../../assets/images/icons/CommonSymbol.png">
        </div>
        <div class="card-name">
            Rock Monster
        </div>
        <div class="card-cost">
            No Cost
        </div>
    </div>
    <div class="card-image">
        <img src="../../assets/images/icons/creatures/RockMonster.png">
    </div>
    <div class="card-attributes">
        <div class="card-class">
            Elemental
        </div>
        <div class="card-perks">
            Melee
        </div>
    </div>
    <div class="card-body">
        No description.
    </div>
    <div class="card-footer">
        <div class="card-attack">
            <img src="../../assets/images/icons/AttackSymbol.png">
        </div>
        <div class="card-attack-stat">
            10
        </div>
        <div class="card-health-stat">
            80
        </div>
        <div class="card-health">
            <img src="../../assets/images/icons/HeartSymbol.png">
        </div>
    </div>
</div>
